.tablaPersonajes table {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5% auto;
  padding: 10px;
}

.card {
  display: flex;
  margin-bottom: 1rem;
}

.card button {
  margin: 0.5rem;
}

.fila-inactiva {
  opacity: 0.6;
  background-color: #f4f4f4;
}

p-button {
  margin: 5px;
}
